{% extends "news/base.html" %}

{% block titleBlock %}
404
{% endblock %}

{% block contentBlock %}
    <div class="error_con">
        <img src="../../static/news/images/not_found.png" alt="404">
        <h3>OOPS!</h3>
        <h4>该内容不存在</h4>
        <p>请检查你输入的网址是否正确，请点击以下按钮返回主页或者发送错误报告</p>
        <a href="/">返回首页</a>
    </div>
{% endblock %}

{% block rankBlock %}
{% endblock %}

{% block bottomBlock %}
{% endblock %}
