{% extends 'news/base.html' %}

{% block titleBlock %}
文章详情页
{% endblock %}

{% block scriptBlock %}
<script type="text/javascript" src="../../static/news/js/detail.js"></script>
{% endblock %}

{% block categoryBlock %}
{% endblock %}

{% block contentBlock %}
<div class="detail_con fl">

        <h3>{{ data.news.title }}</h3>
        <div class="detail_about clearfix">
            <span class="time_souce fl">{{ data.news.create_time }} 来源: {{ data.news.source }}</span>
            <span class="comment fr">{{ data.news.comments_count }}</span>
        </div>
        {{ data.news.content | safe }}

        <a href="javascript:;" class="collected block-center" data-newid="{{ data.news.id }}" style="display: {% if data.is_collected %} block
        {% else %} none {% endif %};"><span class="out">已收藏</span><span class="over">取消收藏</span></a>
        <a href="javascript:;" class="collection block-center" data-newid="{{ data.news.id }}" style="display: {% if data.is_collected %} none
        {% else %} block {% endif %};">收藏</a>

        {% if data.user %}
            <form action="" class="comment_form" data-newsid="{{ data.news.id }}">
                <div class="person_pic">
                    <img src="{% if data.user.avatar_url %}
                        {{ data.user.avatar_url }}
                    {% else %}
                        ../../static/news/images/person01.png
                    {% endif %}" alt="用户图标">
                </div>
                <textarea placeholder="请发表您的评论" class="comment_input"></textarea>
                <input type="submit" name="" value="评 论" class="comment_sub">
            </form>
        {% else %}
            <div class="comment_form_logout">
                登录发表你的评论
            </div>
        {% endif %}

        <div class="comment_count">
            {{ data.news.comments_count }}条评论
        </div>


        <div class="comment_list_con">
            {% for comment in data.comments %}
                <div class="comment_list">
                    <div class="person_pic fl">
                        <img src="{% if comment.user.avatar_url %}
                            {{ comment.user.avatar_url }}
                        {% else %}
                            ../../static/news/images/person01.png
                        {% endif %}" alt="用户图标">
                    </div>
                    <div class="user_name fl">{{ comment.user.nick_name }}</div>
                    <div class="comment_text fl">{{ comment.content }}</div>

                    {% if comment.parent %}
                        <div class="reply_text_con fl">
                            <div class="user_name2">{{ comment.parent.user.nick_name }}</div>
                            <div class="reply_text">
                                {{ comment.parent.content }}
                            </div>
                        </div>
                    {% endif %}
                    <div class="comment_time fl">{{ comment.create_time }}</div>
                    <a href="javascript:;" class="comment_up
                    {% if comment.is_like %}
                        has_comment_up
                    {% endif %} fr"
                       data-commentid="{{ comment.id }}"
                       data-likecount="{{ comment.like_count }}"
                       data-newsid="{{ data.news.id }}">
                    {% if comment.like_count > 0 %}
                        {{ comment.like_count }}
                    {% else %}
                        赞
                    {% endif %}</a>
                    <a href="javascript:;" class="comment_reply fr">回复</a>
                    <form class="reply_form fl" data-commentid="{{ comment.id }}" data-newsid="{{ data.news.id }}">
                        <textarea class="reply_input"></textarea>
                        <input type="button" value="回复" class="reply_sub fr">
                        <input type="reset" name="" value="取消" class="reply_cancel fr">
                    </form>
                </div>
            {% endfor %}
        </div>


        </div>
{% endblock %}

{% block authorBlock %}
{% if data.news.author %}
    <div class="author_card">
        <a href="{{ url_for("profile.other_info") }}?id={{ data.news.author.id }}" class="author_pic"><img src="{% if data.news.author.avatar_url %}
        {{ data.news.author.avatar_url }}
        {% else %}
        ../../static/news/images/user_pic.png
        {% endif %}" alt="author_pic"></a>
        <a href="{{ url_for("profile.other_info") }}?id={{ data.news.author.id }}" class="author_name">{{ data.news.author.nick_name }}</a>
        <div class="author_resume">签名：{{ data.news.author.signature }}</div>
        <div class="writings"><span>总篇数</span><b>{{ data.news.author.news_count }}</b></div>
        <div class="follows"><span>粉丝</span><b>{{ data.news.author.followers_count }}</b></div>
        <a href="javascript:;" class="focus fr" data-userid="{{ data.news.author.id }}" style="display: {% if data.is_followed %}none{% else %}block{% endif %}">关注</a>
        <a href="javascript:;" class="focused fr" data-userid="{{ data.news.author.id }}" style="display: {% if data.is_followed %}block{% else %}none{% endif %}"><span class="out">已关注</span><span class="over">取消关注</span></a>

    </div>
{% endif %}
{% endblock %}