<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<title>用户中心</title>
	<link rel="stylesheet" type="text/css" href="../../static/news/css/reset.css">
	<link rel="stylesheet" type="text/css" href="../../static/news/css/main.css">
    <script type="text/javascript" src="../../static/news/js/jquery-1.12.4.min.js"></script>
    <script type="text/javascript" src="../../static/news/js/jquery.form.min.js"></script>
    <script type="text/javascript" src="../../static/news/js/user_pic_info.js"></script>
</head>
<body class="inframe_body">
    <form class="pic_info">
        <h3>头像设置</h3>
        <div class="form-group">
            <label class="label01">当前图像：</label>
            <img src="{% if data.user.avatar_url %}
                            {{ data.user.avatar_url }}
                    {% else %}
                        /../static/news/images/user_pic.png
                    {% endif %}" alt="用户图片" class="now_user_pic">
        </div>
        <div class="form-group">
            <label>上传图像：</label>
            <input type="file" name="avatar" class="input_file">
        </div>
        
        <div class="form-group">
            <input type="submit" value="保 存" class="input_sub">
        </div>
    </form>
</body>
</html>