<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<title>新经资讯后台管理</title>
	<link rel="stylesheet" type="text/css" href="../../static/admin/css/reset.css">
	<link rel="stylesheet" type="text/css" href="../../static/admin/css/main.css">
</head>
<body>
	<div class="login_logo">
		<img src="../../static/admin/images/logo.png" alt="">
	</div>	
	<form method="post" class="login_form">
        <input type="hidden" name="csrf_token" value="{{ csrf_token() }}" />
		<h1 class="login_title">用户登录</h1>
		<input type="text" name="username" placeholder="用户名" class="input_txt">
		<input type="password" name="password" placeholder="密码" class="input_txt">
		<div class="error_tip">错误提示</div>
		<input type="submit" value="登 录" class="input_sub">
	</form>
	<div class="login_bg"></div>
</body>
</html>