<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<title>新经资讯后台管理</title>
	<link rel="stylesheet" type="text/css" href="../../static/admin/css/reset.css">
	<link rel="stylesheet" type="text/css" href="../../static/admin/css/main.css">
	<link rel="stylesheet" href="../../static/admin/css/jquery.pagination.css">
	<script type="text/javascript" src="../../static/admin/js/jquery-1.12.4.min.js"></script>
	<script type="text/javascript" src="../../static/admin/js/jquery.pagination.min.js"></script>
</head>
<body>
	<div class="breadcrub">
			当前位置：新闻管理>新闻审核
			<form class="news_filter_form">
				<input type="text" name="keywords" placeholder="请输入关键字" class="input_txt">
				<input type="submit" value="搜 索" class="input_sub">
			</form>
		</div>
		<div class="pannel">
			<table class="common_table">
				<tr>
					<th width="3%">id</th>
					<th width="70%">标题</th>
					<th width="15%">发布时间</th>
					<th width="5%">状态</th>
					<th width="8%">管理操作</th>
				</tr>
                {% for news in data.news_list %}
                <tr>
					<td>{{ news.id }}</td>
					<td class="tleft">{{ news.title }}</td>
					<td>{{ news.create_time }}</td>
					<td>
                        {% if news.status == 0 %}
                            已通过
                            {% elif news.status == -1 %}
                            未通过
                            {% else %}
                            未审核
                        {% endif %}
                    </td>
					<td>
						<a href="{{ url_for("admin.news_review_detail") }}?news_id={{ news.id }}" class="review">审核</a>
					</td>
				</tr>
                {% endfor %}
			</table>
		</div>

		<div class="box">
			<div id="pagination" class="page"></div>
		</div>

        <script>
			$(function() {
				$("#pagination").pagination({
					currentPage: {{ data.current_page }},
					totalPage: {{ data.total_page }},
					callback: function(current) {
					    window.location = '/admin/news_review?p=' + current;
					}
				});
			});
		</script>

	
</body>
</html>